footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  // Change Color Styles
  color: $COLOR_WHITE;
  // background-color: black;
  // ! ADD AN ARTISTIC BACKGROUND (START HERE!)
  // background: url(../../Images/banner5.gif) center no-repeat;
  background-size: 100% auto;
}